html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    overflow: hidden;
  }
  
  .main-part {
    background-color: #efefef;
    height: 100%;
  }
  
  header {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 75px;
  }
  
  .title {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242423;
  }
  
  h2 {
    font-family: Verdana, sans-serif;
    font-weight: 300;
    color: #242423;
    margin: 0;
    font-size: 20px;
  }
  
  .main {
    overflow: auto;
  
    height: calc(100vh - 75px);
  }
  

  
  
  /* zoom sur le bouton lors du survol */
  .hidden-button:hover {
    transform: scale(1.1);
  }
  
 
  /* bouton ajouter */
  .hidden-button {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
    animation: fadein 0.5s;
    cursor: pointer;
  }
  
  /* animation du bouton ajouter en fondu */
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
 
  
  /* -------------------------------------- */
  /* scrollbar design */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: grey;
  }
  /* ----------------------------- */
  
  .barre-lat {
    height: 100vh;
    background-color: #cfdbd5;
    overflow: auto;
  }
  
  .logo img{
    width: 250px;
  }
  
  .logo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .bouton_scan{
    width: 90%;
    height: 80px;
    background-color: #f5cb5c;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s;
  }
  
  
  .bouton_scan:hover{
    transform: scale(0.90);
  }
  
  .bouton_scan img{
    width: 30px;
  }
  
  .categorizes a{
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  .categorizes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
  }
  
  
  .category{
    width: 90%;
    height: 80px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s;
    margin: 10px;
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfdbd5; /* Nouvelle couleur de fond pour tout le document */
}

.facture {
    max-width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #cfdbd5; /* Couleur de fond de la facture */
}

.entete h1 {
    margin: 0;
}

.details-facture table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details-facture table, .details-facture th, .details-facture td {
    border: 1px solid #ccc;
}

.details-facture th, .details-facture td {
    padding: 10px;
    text-align: left;
}

.total {
    margin-top: 20px;
}

.total p {
    font-weight: bold;
}




  
  

  
  