html {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
  overflow: hidden;
}

.main-part {
  background-color: #efefef;
  height: 100%;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 75px;
}


header img{
  width: 40px;
  height: 40px;
  transition: transform 0.1s;
}


header img:hover{
  transform: scale(0.9);
}


.panier{
  grid-column: 4/5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242423;
}

h2 {
  font-family: Verdana, sans-serif;
  font-weight: 300;
  color: #242423;
  margin: 0;
  font-size: 20px;
}

.main {
  overflow: auto;

  height: calc(100vh - 75px);
}

.main h1{
  display: flex;
  justify-content: left;
}



/* -------------------------------------- */
/* scrollbar design */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: grey;
}
/* ----------------------------- */

.barre-lat {
  height: 100vh;
  background-color: #cfdbd5;
  overflow: auto;
}

.logo img{
  width: 250px;
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bouton_scan{
  width: 70%;
  height: 60px;
  background-color: #f5cb5c;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s;
  
}


.bouton_scan:hover{
  transform: scale(0.90);
  cursor: pointer;
}

.bouton_scan img{
  width: 30px;
  height: 30px;
}

header a{
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
}

.categorizes a{
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

a:visited {
  text-decoration: none;
}

.categorizes{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  
}


.category{
  width: 90%;
  height: 80px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.1s;
  cursor: pointer;
  margin: 10px;
}

.facture {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #cfdbd5; /* Couleur de fond de la facture */
  border-radius : 30px;
}

.entete h1 {
  margin: 0;
}

.details-facture table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details-facture table, .details-facture th, .details-facture td {
  border: 1px solid #090909;
}

.details-facture th, .details-facture td {
  padding: 10px;
  text-align: left;
}

.total {
  margin-top: 20px;
}

.total p {
  font-weight: bold;
}
.menu{
  display: none;
}


.menucat{
  display: none;

}

.menucat img{
  width: 40px;
  height: 40px;
  transition: 0.1s;
}

.menucat img:hover{
  transform: scale(0.9);
}

@media only screen and (max-width: 768px) {
  body {
      grid-template-columns: 1fr; /* Single column layout for small screens */
  }

  .barre-lat {
      display: none; /* Hide the sidebar on small screens */
  }

  .main-part {
      width: 100%; /* Make the main part take the full width on small screens */
      overflow-y: auto;
  }

  header {
      grid-template-columns: 1fr; /* Adjust the header to a single column layout */
  }

  .main {
      height: auto; /* Adjust the height of the main content area */
  }

  .facture {
    max-width: 100%;
}
.container {
  flex-direction: column;
  align-items: center;
}
  .products {
      grid-template-columns: repeat(2, 1fr); /* Adjust the product grid for smaller screens */
      margin: 15px; /* Add some margin for better spacing on small screens */
  }
  .hidden-button {
    display: flex ;
  }
}
