/* Style pour la case à cocher "rester connecté" */
.box .checkbox {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.box input[type="checkbox"] {
  margin-right: 10px;
}

.box label {
  color: #f5cb5c;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #242423;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 50px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f5cb5c;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #f5cb5c;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f5cb5c;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #f5cb5c;
}

.box .checkbox input[type="checkbox"]:checked + label {
  color: #f5cb5c;
}

svg {
  background: white;
  border-radius: 24px;
}

/* Ajout du style pour le lien d'inscription */
.box .inscription-link {
  text-decoration: none;
  color: #f5cb5c;
  font-size: 14px;
  margin-top: 10px;
  display: block;
  margin-left: 5px;
  padding: 8px 12px;
  border: 1px solid #f5cb5c;
  border-radius: 5px;
  transition: 0.25s;
}

.box .inscription-link:hover {
  text-decoration: underline;
  background: #f5cb5c;
  color: #191919;
}
.box input[type="submit"] {
  /* Autres propriétés existantes */
  margin-right: 12px; /* Vous pouvez ajuster cette valeur selon vos préférences */
}